@model Datos.SqlData.TBL_USUARIO

@{ 
    bool? ret = ViewBag.tr;
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <title>LoteriaGG</title>
    <link href="~/Content/estiloEP.css" rel="stylesheet" />
    <link href="http://cdn.phpoll.com/css/animate.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <section class="row">
            <article class="col-xs-12 col-sm-10 col-md-5 col-lg-5" style="background-color:rgba(117, 139, 163, 0.63)">
                @using (Html.BeginForm("EditarPerfil", "Profile", null, FormMethod.Post, new { id = "form", @class = "form-horizontal", @data_parsley_validate = "true", @novalidate = "true", @method = "get" }))
                {
                    <div class="col-lg-12">
                        @if (ret == null || ret == false)
                        {
                            if (ret == false)
                            {
                            <br />
                            <br />
                            <br />
                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="row">
                                        <label>Nombre:</label>
                                    </div>
                                    <div class="form-group">
                                        <input type = "text" class="col-lg-10 escribir" name="nombre" value="@Model.USU_NOMBRE" placeholder="@Model.USU_NOMBRE" />
                                        <label style = "color:red;font-size:12px" > El nombre debe tener más de una letra</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <label>Apellido:</label>
                                    </div>
                                    <div class="form-group">
                                        <input type = "text" class="col-lg-10 escribir" name="apellido" value="@Model.USU_APELLIDO" placeholder="@Model.USU_APELLIDO" />
                                        <label style = "color:red;font-size:12px" > El apellido debe tener más de una letra</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <label>Nombre de invocador: </label>
                                    </div>
                                    <div class="form-group">
                                        <input type = "text" class="col-lg-12 escribir" name="nombreInvocador" value="@Model.USU_SUMMONER" placeholder="@Model.USU_SUMMONER" />
                                        <label style = "color:red;font-size:12px" > El nombre de invocador debe tener más de una letras</label>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <hr />
                            <div class="row">
                                <div class="col-lg-4">
                                    <input type="submit" class="btn btn-primary col-lg-12" style="border-color: rgba(97, 119, 143, 0.63); background-color:rgba(43, 102, 57, 0.77)" value="Aplicar">
                                </div>
                                <div class="col-lg-4">
                                    <a href="/Profile/Index" class="btn btn-primary col-lg-12" style="background-color:rgba(222, 66, 49, 0.76);border-color:rgba(97, 119, 143, 0.63)">Volver</a>
                                </div>
                            </div>
                            }
                            else
                            {
                                <br />
                                <br />
                                <br />
                                <div class="row">

                                    <div class="col-lg-6">
                                        <div class="row">
                                            <label>Nombre:</label>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="col-lg-10 escribir" name="nombre" value="@Model.USU_NOMBRE" placeholder="@Model.USU_NOMBRE" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <label>Apellido:</label>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="col-lg-10 escribir" name="apellido" value="@Model.USU_APELLIDO" placeholder="@Model.USU_APELLIDO" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <label>Nombre de invocador: </label>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="col-lg-12 escribir" name="nombreInvocador" value="@Model.USU_SUMMONER" placeholder="@Model.USU_SUMMONER" />
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <hr />
                                <div class="row">
                                    <div class="col-lg-4">
                                        <input type="submit" class="btn btn-primary col-lg-12" style="border-color: rgba(97, 119, 143, 0.63); background-color:rgba(43, 102, 57, 0.77)" value="Aplicar">
                                    </div>
                                    <div class="col-lg-4">
                                        <a href="/Profile/Index" class="btn btn-primary col-lg-12" style="background-color:rgba(222, 66, 49, 0.76);border-color:rgba(97, 119, 143, 0.63)">Volver</a>
                                    </div>
                                </div>
                            }

                        }
                        else if (ret ?? false)
                        {
                            <div class="row">
                                <h3>Perfil Editado Exitosamente</h3>
                            </div>
                            <div class="row">
                                <a href="/Profile/Index" type="button" class="col-lg-5 btn btn-secondary" style="color:gray;border-color:rgba(97, 119, 143, 0.63);background-color:rgba(222, 66, 49, 0.76)">Volver</a>
                            </div>
                        }
                        <br />
                    </div>
                }
            </article>

        </section>
    </div>

    <footer class="navbar navbar-fixed-bottom">

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <h4>Hecho por el equipo de Resyst ® Softwares™.</h4>

                    <h5>
                        © 2016 Resyst Softwares. Todos los derechos reservados.
                    </h5>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h4>
                        Síguenos en Facebook:
                        <a href="https://www.facebook.com/loteria.gg">
                            <img src="https://lh3.googleusercontent.com/rVThdsVV77Iq36HPUUqmcJ21ZAML3Gs-AxGCc2JrpoXQLYkq3Yl-0O2p8KvYHjuQMuJhq7EkvL6_F2ylJf-jY_KbahkASPDtVYjrV6Bc_dB4pEnnu5Ng425ISTs9G3NHu4zLSi00CTAyY2ycRow1LbsF6ge74Kh0h4DbboJFojfHeDIY2UjV-w1ijDEGfFEwtieMkrW0SXH-HFkabNMGLbdB3fYfUD0Dn28cqmKO35IFNN-hN4_EPhoen1Ab24MvnWbkAvZw_VRxsyDsKSAnEcV_5N-FzM6lk1VgWknUUJ0tIKCBsMVndxJhSXboeMWlIthkPUm5wzieIkaGKuw0WGcYRjKo8Kxg40qw5ZCsmeVezfsk0nylIFArsygKZexOBRKhhWgWi3gb-OY_X7hSfOr1IiXct-uk7znlhq76bJFhokI2DbqvnIISbDpRHY9ZZLmokxEsNCaSoZFCw9VVOIF5RZuTNaytj60YmXn2amrtp423JOzIRu3aaEIYKc9h8Kq_5eXgEpUqKcdGR_o_-loCPIF6JrgwhIGsgWcnhRvhFu2ZB4jgxO3YpBnReCYiHU1FbCfXefCjoO-kUvULsGo-34oK-AFbg9piIJGiBWEafXFViggW7EGgWxRk-bzAbD8d6GkH7P5Y7wYGebxHXOO52caX9QSw9YsEX29wAQ=s24-no" alt="facebook" />
                        </a>
                    </h4>
                </div>


            </div>


        </div>

    </footer>

    <script src="~/scripts/jquery.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>