@using Datos.SqlData
<!DOCTYPE html>
<html>
<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9005426925226498",
            enable_page_level_ads: true
        });
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/materialize.css" rel="stylesheet" />
    <link href="~/Content/materialize.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.9&appId=122229375033808";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    @{ var user = (TBL_USUARIO)Session["UsuarioLogged"]; }
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/materialize.js"></script>
    <script src="~/Scripts/materialize.min.js"></script>

    <header>
        <nav class="top-nav indigo darken-2">
            <!--SIDE Nav-->

            <ul id="slide-out" class="side-nav">
                @if (user == null)
                {
                    <li class="no-padding" style="border-bottom:#1a237e 2px solid">
                        <ul class="collapsible collapsible-accordion">
                            <li>
                                <a class="collapsible-header">Ingresar<i class="material-icons">arrow_drop_down</i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <form id="formUsuario" method="post" action="@Url.Action("Login","Home")" class="col s12">
                                            <input placeholder="Usuario" id="usuario" style="color:#000; border-color:#0277bd;" type="text" class="validate" name="argUsuario">
                                            <input placeholder="Contraseña" type="password" style="color:#000; border-color:#0277bd;" id="contrasena" class="validate" name="contrasena">
                                            <div class="fb-login-button" data-width="200" data-max-rows="1" onlogin="checkLoginState()" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
                                            <input type="hidden" class="hide" name="token" id="token" value="7c6f19960d63f53fcd05c3e0cbc434c0">
                                            <button class="btn waves-effect waves-light light-blue darken-3" type="button" onclick="Login()" name="action">Entrar<i class="material-icons right" style="line-height:35px;">send</i></button>
                                        </form>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="no-padding" style="border-bottom:#1a237e 2px solid">
                        <ul class="collapsible collapsible-accordion">
                            <li>
                                <a class="collapsible-header">Registarse<i class="material-icons">arrow_drop_down</i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <form id="formRegister" method="post" action="@Url.Action("Register", "Home")" class="col s12">
                                            <input placeholder="Usuario" id="usuario" style="color:#000; border-color:#0277bd;" type="text" class="validate" name="argUsuario">
                                            <input placeholder="Email" id="email" style="color:#000; border-color:#0277bd;" type="text" class="validate" name="email">
                                            <input placeholder="Nombre" id="nombre" style="color:#000; border-color:#0277bd;" type="text" class="validate" name="nombre">
                                            <input placeholder="Apellido" id="apellido" style="color:#000; border-color:#0277bd;" type="text" class="validate" name="apellido">
                                            @if (Request.Url.ToString().Contains("LoL"))
                                            {
                                                <input placeholder="Nombre de Invocador" id="summoner" style="color:#000; border-color:#0277bd;" type="text" class="validate" name="summoner">
                                            }
                                            else
                                            {
                                                <input placeholder="Nombre de Steam" id="steamNick" style="color:#000; border-color:#0277bd;" type="text" class="validate" name="steamNick">
                                            }
                                            <input placeholder="Contraseña" type="password" style="color:#000; border-color:#0277bd;" id="contrasena" class="validate" name="contrasena">
                                            <input placeholder="Repetir Contraseña" type="password" style="color:#000; border-color:#0277bd;" id="contrasena2" class="validate" name="contrasena2">
                                            <div class="fb-login-button" data-width="200" data-max-rows="1" onlogin="checkLoginState()" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
                                            <input type="hidden" class="hide" name="token" id="token" value="7c6f19960d63f53fcd05c3e0cbc434c0">
                                            <button class="btn waves-effect waves-light light-blue darken-3" type="button" onclick="Login()" name="action">Enviar<i class="material-icons right" style="line-height:35px;">send</i></button>
                                        </form>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li>
                        <div class="user-view">
                            <div class="background">
                                <img src="~/Images/AkalivsBaron.jpg">
                                <a href="~/Views/Shared/_Layout.cshtml">~/Views/Shared/_Layout.cshtml</a>
                            </div>
                            <a class="right" href="javascript:void()" onclick="Logout()" style="font-size:1.5em" data-activates=""><i class="material-icons right" style="padding-top:3px;margin:0">power_settings_new</i></a>
                            <a href="#!user"><img class="circle" src="~/Images/69698566-dota-2-logo-wallpapers.jpg"></a>
                            <a href="#!name"><span class="white-text name">@user.USU_NOMBRE</span></a>
                            <a id="" class="yellow-text accent-4 ggcoins" style="font-size:1.5em" href="#!" data-activates="dropdown1">@user.USU_SOR_DISP GGCoins</a>
                        </div>
                    </li>
                }
                <li><a class="dropdown-button" href="#!">Inicio</a></li>
                @if (user != null)
                {
                    <li><a class="dropdown-button yellow-text" href="@Url.Action("Index","Sorteo")">Sorteos</a></li>
                    <li><a class="dropdown-button red-text" href="#!">Obtener GGCoins</a></li>
                    <li><a class="dropdown-button" href="#!">Ruleta</a></li>
                }
                <li><a class="dropdown-button" href="#!">Steam</a></li>
                <li><a class="dropdown-button" href="#!">Contactanos</a></li>
            </ul>
            <!--Left Nav-->
            <ul class="hide-on-med-and-down">
                <li><a class="dropdown-button" href="@Url.Action("Index","Home")" >Inicio</a></li>
                @if (user != null)
                {
                    <li><a class="dropdown-button yellow-text" href="@Url.Action("Index","Sorteo")">Sorteos</a></li>
                    <li><a class="dropdown-button red-text" href="#!">Obtener GGCoins</a></li>
                    <li><a class="dropdown-button" href="#!">Ruleta</a></li>
                }
                <li><a class="dropdown-button" href="#!">Steam</a></li>
                <li><a class="dropdown-button" href="#!">Contactanos</a></li>
            </ul>
            <!--LOGO-->
            <a href="#" class="brand-logo center"><img src="~/Images/logoGG.png" style="max-height:55px"/></a>
            <!--Right Nav-->
            <ul class="right hide-on-med-and-down">
                @if (user == null)
                {
                    <li><a class="modal-trigger" href="#modal2">Registrarse</a></li>

                    <li><a class="modal-trigger" href="#modal1">Ingresar</a></li>
                <!-- Modal Structure -->
                    <div id="modal1" class="modal transparent z-depth-5" style="width:25% !important;">
                        <div class="modal-content">
                            <div class="row">
                                <form id="formUsuario" method="post" action="@Url.Action("Login","Home")" class="col s12">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="usuario" style="color:#fff; border-color:#0277bd;" type="text" class="validate" name="argUsuario">
                                            <label for="usuario" style="color:#fff;font-size:1.5em;">Nombre de Usuario</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input type="password" style="color:#fff; border-color:#0277bd;" id="contrasena" class="validate" name="contrasena">
                                            <label for="contrasena" style="color:#fff;font-size:1.5em;">Repetir Contraseña</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:0;">
                                        <div class="center">
                                            <div class="fb-login-button" data-width="200" data-max-rows="1" onlogin="checkLoginState()" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
                                            <input type="hidden" class="hide" name="token" id="token" value="7c6f19960d63f53fcd05c3e0cbc434c0">
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:0;">
                                        <div class="center" style="padding-top:12px">
                                            <button class="btn waves-effect waves-light light-blue darken-3" type="button" onclick="Login()" name="action">Entrar<i class="material-icons right" style="line-height:35px;">send</i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="modal2" class="modal transparent z-depth-5" style="width:27% !important; height:100%">
                        <div class="modal-content">
                            <div class="row">
                                <form id="formRegister" method="post" action="@Url.Action("Login")" class="col s12">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="usuario" style="color:#fff; border-color:#0277bd;" type="text" class="validate" name="argUsuario">
                                            <label for="usuario" style="color:#fff;font-size:1.5em;">Nombre de Usuario</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="usuario" style="color:#fff; border-color:#0277bd;" type="text" class="validate" name="email">
                                            <label for="usuario" style="color:#fff;font-size:1.5em;">Email</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="usuario" style="color:#fff; border-color:#0277bd;" type="text" class="validate" name="nombre">
                                            <label for="usuario" style="color:#fff;font-size:1.5em;">Nombre</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="usuario" style="color:#fff; border-color:#0277bd;" type="text" class="validate" name="apellido">
                                            <label for="usuario" style="color:#fff;font-size:1.5em;">Apellido</label>
                                        </div>
                                    </div>
                                    @if(Request.Url.ToString().Contains("LoL")){
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="usuario" style="color:#fff; border-color:#0277bd;" type="text" class="validate" name="summoner">
                                                <label for="usuario" style="color:#fff;font-size:1.5em;">Nombre de Invocador</label>
                                            </div>
                                        </div>
                                    }else{
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="usuario" style="color:#fff; border-color:#0277bd;" type="text" class="validate" name="steamNick">
                                                <label for="usuario" style="color:#fff;font-size:1.5em;">Nombre de Steam</label>
                                            </div>
                                        </div>
                                    }
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input type="password" style="color:#fff; border-color:#0277bd;" id="contrasena" class="validate" name="contrasena">
                                            <label for="contrasena" style="color:#fff;font-size:1.5em;">Contraseña</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input type="password" style="color:#fff; border-color:#0277bd;" id="contrasena" class="validate" name="contrasena2">
                                            <label for="contrasena" style="color:#fff;font-size:1.5em;">Contraseña</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:0;">
                                        <div class="center">
                                            <div class="fb-login-button" data-width="200" data-max-rows="1" onlogin="checkLoginState()" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
                                            <input type="hidden" class="hide" name="token" id="token" value="7c6f19960d63f53fcd05c3e0cbc434c0">
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:0;">
                                        <div class="center" style="padding-top:12px">
                                            <button class="btn waves-effect waves-light light-blue darken-3" type="button" onclick="Login()" name="action">Enviar<i class="material-icons right" style="line-height:35px;">send</i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <li><a id="ggcoins" class="yellow-text accent-4" style="font-size:1.5em" href="#!" data-activates="dropdown1">@user.USU_SOR_DISP GGCoins</a></li>
                    <li><a class="" href="#!" style="font-size:1.5em" data-activates="dropdown1">@user.USU_NOMBRE<i class="material-icons right" style="padding-top:3px;">account_circle</i></a></li>
                    <li><a class="" href="javascript:void()" onclick="Logout()" style="font-size:1.5em" data-activates=""><i class="material-icons right" style="padding-top:3px;margin:0">power_settings_new</i></a></li>
                }
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        </nav>
    </header>
    <main>
        <div class="container body-content">
            @RenderBody()
        </div>
    </main>
    <footer class="page-footer indigo darken-3">
        <div class="container indigo darken-3">
            <div class="row">
                <div class="col s6">
                    <div style="margin-top:25px;">
                        <h5 class="flow-text">
                            <b>Hecho por el equipo de</b>
                            <br />
                            <b><a href="http://resyst.loteriagg.com/" style="text-decoration: none"> Resyst ® Softwares™.</a></b>
                        </h5>
                    </div>
                </div>

                <!--Footer Tablet y PC-->
                <div class="hide-on-small-only">
                    <div class="col s6">
                        <h4 id="socialMedia" style="margin-top:10px;text-align:right;">
                            Síguenos
                        </h4>

                        <div style="padding-right:40px">
                            <div style="text-align:right">
                                <a href="https://www.facebook.com/loteria.gg">
                                    <img src="https://lh3.googleusercontent.com/rVThdsVV77Iq36HPUUqmcJ21ZAML3Gs-AxGCc2JrpoXQLYkq3Yl-0O2p8KvYHjuQMuJhq7EkvL6_F2ylJf-jY_KbahkASPDtVYjrV6Bc_dB4pEnnu5Ng425ISTs9G3NHu4zLSi00CTAyY2ycRow1LbsF6ge74Kh0h4DbboJFojfHeDIY2UjV-w1ijDEGfFEwtieMkrW0SXH-HFkabNMGLbdB3fYfUD0Dn28cqmKO35IFNN-hN4_EPhoen1Ab24MvnWbkAvZw_VRxsyDsKSAnEcV_5N-FzM6lk1VgWknUUJ0tIKCBsMVndxJhSXboeMWlIthkPUm5wzieIkaGKuw0WGcYRjKo8Kxg40qw5ZCsmeVezfsk0nylIFArsygKZexOBRKhhWgWi3gb-OY_X7hSfOr1IiXct-uk7znlhq76bJFhokI2DbqvnIISbDpRHY9ZZLmokxEsNCaSoZFCw9VVOIF5RZuTNaytj60YmXn2amrtp423JOzIRu3aaEIYKc9h8Kq_5eXgEpUqKcdGR_o_-loCPIF6JrgwhIGsgWcnhRvhFu2ZB4jgxO3YpBnReCYiHU1FbCfXefCjoO-kUvULsGo-34oK-AFbg9piIJGiBWEafXFViggW7EGgWxRk-bzAbD8d6GkH7P5Y7wYGebxHXOO52caX9QSw9YsEX29wAQ=s24-no" alt="facebook" width="27" />
                                </a>
                                <a href="https://www.instagram.com/loteriagg">
                                    <img src="http://pngimg.com/uploads/instagram/instagram_PNG1.png" alt="instagram" width="27" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Footer mobile-->
                <div class="hide-on-med-and-up">
                    <div class="col s6">
                        <p id="socialMedia" style="margin-top:10px;padding-right:33px;text-align:right;font-size:1.224rem">
                            <b>Síguenos</b>
                        </p>

                        <div style="padding-right:40px">
                            <div style="text-align:right">
                                <a href="https://www.facebook.com/loteria.gg">
                                    <img src="https://lh3.googleusercontent.com/rVThdsVV77Iq36HPUUqmcJ21ZAML3Gs-AxGCc2JrpoXQLYkq3Yl-0O2p8KvYHjuQMuJhq7EkvL6_F2ylJf-jY_KbahkASPDtVYjrV6Bc_dB4pEnnu5Ng425ISTs9G3NHu4zLSi00CTAyY2ycRow1LbsF6ge74Kh0h4DbboJFojfHeDIY2UjV-w1ijDEGfFEwtieMkrW0SXH-HFkabNMGLbdB3fYfUD0Dn28cqmKO35IFNN-hN4_EPhoen1Ab24MvnWbkAvZw_VRxsyDsKSAnEcV_5N-FzM6lk1VgWknUUJ0tIKCBsMVndxJhSXboeMWlIthkPUm5wzieIkaGKuw0WGcYRjKo8Kxg40qw5ZCsmeVezfsk0nylIFArsygKZexOBRKhhWgWi3gb-OY_X7hSfOr1IiXct-uk7znlhq76bJFhokI2DbqvnIISbDpRHY9ZZLmokxEsNCaSoZFCw9VVOIF5RZuTNaytj60YmXn2amrtp423JOzIRu3aaEIYKc9h8Kq_5eXgEpUqKcdGR_o_-loCPIF6JrgwhIGsgWcnhRvhFu2ZB4jgxO3YpBnReCYiHU1FbCfXefCjoO-kUvULsGo-34oK-AFbg9piIJGiBWEafXFViggW7EGgWxRk-bzAbD8d6GkH7P5Y7wYGebxHXOO52caX9QSw9YsEX29wAQ=s24-no" alt="facebook" width="27" />
                                </a>
                                <a href="https://www.instagram.com/loteriagg">
                                    <img src="http://pngimg.com/uploads/instagram/instagram_PNG1.png" alt="instagram" width="27" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="footer-copyright indigo darken-4">
        <div class="container">
            <b>© 2017 Resyst Softwares. Todos los derechos reservados.</b>
        </div>
    </div>

</footer>
    @RenderSection("scripts", required: false)

    <script>
        $(".button-collapse").sideNav();
        $('.collapsible').collapsible();
        $(".dropdown-button").dropdown();
        $(document).ready(function () {
            $('.modal').modal({
                dismissible: true, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 200, // Transition out duration
                startingTop: '4%', // Starting top style attribute
                endingTop: '10%', // Ending top style attribute
                ready: function (modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
                },
            }
            );
        });


        function Login() {
            var form = $('.modal #formUsuario');

            $.ajax({
                type: 'POST',
                url: $(form).attr('action'),
                data: $(form).serialize(),
                success: function () {
                    location.reload();
                }
            })
        }

        function Logout() {
            location.href = "@Url.Action("Logout", "Home")"
        }

        function ActualizarGGCoins(cantidad) {
            $('.ggcoins').html(cantidad + ' GGCoins');
        }
    </script>
<!--FACEBOOK LOGIN-->
    <script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '122229375033808', //id local 787191674781997 //122229375033808
            oauth: true,
            cookie: true,
            xfbml: true,
            version: 'v2.8'
        });
        FB.AppEvents.logPageView();
    };
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function myFacebookLogin() {
        FB.login(function (response) {
            if (response.authResponse) {
                checkLoginState();
            }
        }, { scope: 'publish_actions,email,user_mobile_phone', perms:'user_mobile_phone' },);
    }

    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
            console.log(response.authResponse.accessToken);
        });
        FB.api('/me?fields=id,name,email,permissions', function (response) {
            var url = "@Url.Action("FBLogin")";
            var mail = response.email == undefined ? response.id : response.email;
            location.href = url + "?mail=" + mail + "&usr=" + response.name;
        });
    }
    </script>
</body>
</html>
