<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/materialize.css" rel="stylesheet" />
    <link href="~/Content/materialize.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/materialize.js"></script>
    <script src="~/Scripts/materialize.min.js"></script>

    <header>
        <nav class="top-nav indigo darken-2">
            <!--SIDE Nav-->
            <ul id="slide-out" class="side-nav">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="~/Images/AkalivsBaron.jpg">
                        </div>
                        <a href="#!user"><img class="circle" src="~/Images/69698566-dota-2-logo-wallpapers.jpg"></a>
                        <a href="#!name"><span class="white-text name">John Doe</span></a>
                        <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
                    </div>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Registrarse<i class="material-icons">arrow_drop_down</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="#!">First</a></li>
                                    <li><a href="#!">Second</a></li>
                                    <li><a href="#!">Third</a></li>
                                    <li><a href="#!">Fourth</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Ingresar<i class="material-icons">arrow_drop_down</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="#!">First</a></li>
                                    <li><a href="#!">Second</a></li>
                                    <li><a href="#!">Third</a></li>
                                    <li><a href="#!">Fourth</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                <li><a class="dropdown-button" href="#!">Inicio</a></li>
                <li><a class="dropdown-button" href="#!">Sorteos</a></li>
                <li><a class="dropdown-button" href="#!">Obtener GGCoins</a></li>
                <li><a class="dropdown-button" href="#!">Ruleta</a></li>
                <li><a class="dropdown-button" href="#!">Steam</a></li>
                <li><a class="dropdown-button" href="#!">Contactanos</a></li>
            </ul>
            <!--Left Nav-->
            <ul class="hide-on-med-and-down">
                <li><a class="dropdown-button" href="#!" >Inicio</a></li>
                <li><a class="dropdown-button" href="#!">Sorteos</a></li>
                <li><a class="dropdown-button" href="#!">Obtener GGCoins</a></li>
                <li><a class="dropdown-button" href="#!">Ruleta</a></li>
                <li><a class="dropdown-button" href="#!">Steam</a></li>
                <li><a class="dropdown-button" href="#!">Contactanos</a></li>
            </ul>
            <a href="#" class="brand-logo center"><img src="~/Images/logoGG.png" style="max-height:55px"/></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Registrarse<i class="material-icons right">arrow_drop_down</i></a></li>
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="#!">First</a></li>
                    <li><a href="#!">Second</a></li>
                    <li><a href="#!">Third</a></li>
                    <li><a href="#!">Fourth</a></li>
                </ul>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Ingresar<i class="material-icons right">arrow_drop_down</i></a></li>
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="#!">First</a></li>
                    <li><a href="#!">Second</a></li>
                    <li><a href="#!">Third</a></li>
                    <li><a href="#!">Fourth</a></li>
                </ul>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        </nav>
    </header>
    <main>
        <div class="container body-content">
            @RenderBody()
            @*<footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                <div class="col-xs-12 col-sm-5">
                                    <h5>
                                        Hecho por el equipo de
                                        <br />
                                        <a href="http://resyst.loteriagg.com/" style="text-decoration: none"> Resyst ® Softwares™.</a>
                                    </h5>


                                    <h5>
                                        © 2017 Resyst Softwares. Todos los derechos reservados.
                                    </h5>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-6" style="padding-right:50px" >
                                <h3 id="socialMedia" style="margin-top:10px;text-align:right;">
                                    Síguenos
                                </h3>

                                <div class="col-lg-12 col-xs-12 col-sm-6">
                                    <div style="text-align:right">
                                        <a href="https://www.facebook.com/loteria.gg">
                                            <img src="https://lh3.googleusercontent.com/rVThdsVV77Iq36HPUUqmcJ21ZAML3Gs-AxGCc2JrpoXQLYkq3Yl-0O2p8KvYHjuQMuJhq7EkvL6_F2ylJf-jY_KbahkASPDtVYjrV6Bc_dB4pEnnu5Ng425ISTs9G3NHu4zLSi00CTAyY2ycRow1LbsF6ge74Kh0h4DbboJFojfHeDIY2UjV-w1ijDEGfFEwtieMkrW0SXH-HFkabNMGLbdB3fYfUD0Dn28cqmKO35IFNN-hN4_EPhoen1Ab24MvnWbkAvZw_VRxsyDsKSAnEcV_5N-FzM6lk1VgWknUUJ0tIKCBsMVndxJhSXboeMWlIthkPUm5wzieIkaGKuw0WGcYRjKo8Kxg40qw5ZCsmeVezfsk0nylIFArsygKZexOBRKhhWgWi3gb-OY_X7hSfOr1IiXct-uk7znlhq76bJFhokI2DbqvnIISbDpRHY9ZZLmokxEsNCaSoZFCw9VVOIF5RZuTNaytj60YmXn2amrtp423JOzIRu3aaEIYKc9h8Kq_5eXgEpUqKcdGR_o_-loCPIF6JrgwhIGsgWcnhRvhFu2ZB4jgxO3YpBnReCYiHU1FbCfXefCjoO-kUvULsGo-34oK-AFbg9piIJGiBWEafXFViggW7EGgWxRk-bzAbD8d6GkH7P5Y7wYGebxHXOO52caX9QSw9YsEX29wAQ=s24-no" alt="facebook" width="27" />
                                        </a>
                                        <a href="https://www.instagram.com/loteriagg">
                                            <img src="http://pngimg.com/uploads/instagram/instagram_PNG1.png" alt="instagram" width="27" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>*@
        </div>
    </main>
    <footer class="page-footer indigo darken-3">
        <div class="container indigo darken-3">
            <div class="row">
                <div class="col s6">
                    <div style="margin-top:25px;">
                        <h5 class="flow-text">
                            <b>Hecho por el equipo de</b>
                            <br />
                            <b><a href="http://resyst.loteriagg.com/" style="text-decoration: none"> Resyst ® Softwares™.</a></b>
                        </h5>
                    </div>
                </div>

                <!--Footer Tablet y PC-->
                <div class="hide-on-small-only">
                    <div class="col s6">
                        <h4 id="socialMedia" style="margin-top:10px;text-align:right;">
                            Síguenos
                        </h4>

                        <div style="padding-right:40px">
                            <div style="text-align:right">
                                <a href="https://www.facebook.com/loteria.gg">
                                    <img src="https://lh3.googleusercontent.com/rVThdsVV77Iq36HPUUqmcJ21ZAML3Gs-AxGCc2JrpoXQLYkq3Yl-0O2p8KvYHjuQMuJhq7EkvL6_F2ylJf-jY_KbahkASPDtVYjrV6Bc_dB4pEnnu5Ng425ISTs9G3NHu4zLSi00CTAyY2ycRow1LbsF6ge74Kh0h4DbboJFojfHeDIY2UjV-w1ijDEGfFEwtieMkrW0SXH-HFkabNMGLbdB3fYfUD0Dn28cqmKO35IFNN-hN4_EPhoen1Ab24MvnWbkAvZw_VRxsyDsKSAnEcV_5N-FzM6lk1VgWknUUJ0tIKCBsMVndxJhSXboeMWlIthkPUm5wzieIkaGKuw0WGcYRjKo8Kxg40qw5ZCsmeVezfsk0nylIFArsygKZexOBRKhhWgWi3gb-OY_X7hSfOr1IiXct-uk7znlhq76bJFhokI2DbqvnIISbDpRHY9ZZLmokxEsNCaSoZFCw9VVOIF5RZuTNaytj60YmXn2amrtp423JOzIRu3aaEIYKc9h8Kq_5eXgEpUqKcdGR_o_-loCPIF6JrgwhIGsgWcnhRvhFu2ZB4jgxO3YpBnReCYiHU1FbCfXefCjoO-kUvULsGo-34oK-AFbg9piIJGiBWEafXFViggW7EGgWxRk-bzAbD8d6GkH7P5Y7wYGebxHXOO52caX9QSw9YsEX29wAQ=s24-no" alt="facebook" width="27" />
                                </a>
                                <a href="https://www.instagram.com/loteriagg">
                                    <img src="http://pngimg.com/uploads/instagram/instagram_PNG1.png" alt="instagram" width="27" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Footer mobile-->
                <div class="hide-on-med-and-up">
                    <div class="col s6">
                        <p id="socialMedia" style="margin-top:10px;padding-right:33px;text-align:right;font-size:1.224rem">
                            <b>Síguenos</b>
                        </p>

                        <div style="padding-right:40px">
                            <div style="text-align:right">
                                <a href="https://www.facebook.com/loteria.gg">
                                    <img src="https://lh3.googleusercontent.com/rVThdsVV77Iq36HPUUqmcJ21ZAML3Gs-AxGCc2JrpoXQLYkq3Yl-0O2p8KvYHjuQMuJhq7EkvL6_F2ylJf-jY_KbahkASPDtVYjrV6Bc_dB4pEnnu5Ng425ISTs9G3NHu4zLSi00CTAyY2ycRow1LbsF6ge74Kh0h4DbboJFojfHeDIY2UjV-w1ijDEGfFEwtieMkrW0SXH-HFkabNMGLbdB3fYfUD0Dn28cqmKO35IFNN-hN4_EPhoen1Ab24MvnWbkAvZw_VRxsyDsKSAnEcV_5N-FzM6lk1VgWknUUJ0tIKCBsMVndxJhSXboeMWlIthkPUm5wzieIkaGKuw0WGcYRjKo8Kxg40qw5ZCsmeVezfsk0nylIFArsygKZexOBRKhhWgWi3gb-OY_X7hSfOr1IiXct-uk7znlhq76bJFhokI2DbqvnIISbDpRHY9ZZLmokxEsNCaSoZFCw9VVOIF5RZuTNaytj60YmXn2amrtp423JOzIRu3aaEIYKc9h8Kq_5eXgEpUqKcdGR_o_-loCPIF6JrgwhIGsgWcnhRvhFu2ZB4jgxO3YpBnReCYiHU1FbCfXefCjoO-kUvULsGo-34oK-AFbg9piIJGiBWEafXFViggW7EGgWxRk-bzAbD8d6GkH7P5Y7wYGebxHXOO52caX9QSw9YsEX29wAQ=s24-no" alt="facebook" width="27" />
                                </a>
                                <a href="https://www.instagram.com/loteriagg">
                                    <img src="http://pngimg.com/uploads/instagram/instagram_PNG1.png" alt="instagram" width="27" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="footer-copyright indigo darken-4">
        <div class="container">
            <b>© 2017 Resyst Softwares. Todos los derechos reservados.</b>
        </div>
    </div>

</footer>
    @RenderSection("scripts", required: false)

    <script>
        $(".button-collapse").sideNav();
        $('.collapsible').collapsible();
    </script>

</body>
</html>
