@using Datos.SqlData
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/materialize.css" rel="stylesheet" />
    <link href="~/Content/materialize.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    @{ var user = (TBL_USUARIO)Session["UsuarioLogged"]; }
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/materialize.js"></script>
    <script src="~/Scripts/materialize.min.js"></script>

    <header>
        <nav class="top-nav indigo darken-2">
            <!--SIDE Nav-->
            <ul id="slide-out" class="side-nav">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="~/Images/AkalivsBaron.jpg">
                            <a href="~/Views/Shared/_Layout.cshtml">~/Views/Shared/_Layout.cshtml</a>
                        </div>
                        <a href="#!user"><img class="circle" src="~/Images/69698566-dota-2-logo-wallpapers.jpg"></a>
                        <a href="#!name"><span class="white-text name">John Doe</span></a>
                        <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
                    </div>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Registrarse<i class="material-icons">arrow_drop_down</i></a>
                            <div class="collapsible-body">
                                <form id="ajax-register-form" action="@Url.Action("Index", "Home", new { area = "LoL"})" method="post" role="form" autocomplete="off">
                                    <input type="hidden" name="type" value="registro" />
                                    <div class="form-group">
                                        <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Nombre de usuario" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="Nombre" tabindex="2" class="form-control" placeholder="Nombre">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="Apellido" tabindex="2" class="form-control" placeholder="Apellido">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="NombreDeInvocador" tabindex="2" class="form-control" placeholder="Nombre de invocador">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Contraseña">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="confirmPassword" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirmar contraseña">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <BotDetect:Captcha ID="ExampleCaptcha" runat="server" />
                                            <asp:TextBox ID="CaptchaCodeTextBox" runat="server" />
                                            <div class="col-xs-6 col-xs-offset-3">
                                                <input type="checkbox" name="terminos" value="true" />Acepto los <a data-target="#myModal" data-toggle="modal">terminos y condiciones</a>
                                            </div>
                                            <div class="col-xs-6 col-xs-offset-3">
                                                <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-info" value="Aceptar">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fb-login-button" data-max-rows="1" onlogin="checkLoginState()" scope="email,publish_actions" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
                                    <input type="hidden" class="hide" name="token" id="token" value="7c6f19960d63f53fcd05c3e0cbc434c0">
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Ingresar<i class="material-icons">arrow_drop_down</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="#!">First</a></li>
                                    <li><a href="#!">Second</a></li>
                                    <li><a href="#!">Third</a></li>
                                    <li><a href="#!">Fourth</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                <li><a class="dropdown-button" href="#!">Inicio</a></li>
                <li><a class="dropdown-button" href="#!">Sorteos</a></li>
                <li><a class="dropdown-button" href="#!">Obtener GGCoins</a></li>
                <li><a class="dropdown-button" href="#!">Ruleta</a></li>
                <li><a class="dropdown-button" href="#!">Steam</a></li>
                <li><a class="dropdown-button" href="#!">Contactanos</a></li>
            </ul>
            <!--Left Nav-->
            <ul class="hide-on-med-and-down">
                <li><a class="dropdown-button" href="#!" >Inicio</a></li>
                @if (user != null)
                {
                    <li><a class="dropdown-button yellow-text" href="#!">Sorteos</a></li>
                    <li><a class="dropdown-button red-text" href="#!">Obtener GGCoins</a></li>
                    <li><a class="dropdown-button" href="#!">Ruleta</a></li>
                }
                <li><a class="dropdown-button" href="#!">Steam</a></li>
                <li><a class="dropdown-button" href="#!">Contactanos</a></li>
            </ul>
            <!--LOGO-->
            <a href="#" class="brand-logo center"><img src="~/Images/logoGG.png" style="max-height:55px"/></a>
            <!--Right Nav-->
            <ul class="right hide-on-med-and-down">
                @if (user == null)
                {
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Registrarse<i class="material-icons right">arrow_drop_down</i></a></li>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="#!">First</a></li>
                        <li><a href="#!">Second</a></li>
                        <li><a href="#!">Third</a></li>
                        <li><a href="#!">Fourth</a></li>
                    </ul>
                    <li><a class="modal-trigger" href="#modal1">Ingresar</a></li>
                <!-- Modal Structure -->
                    <div id="modal1" class="modal transparent" style="width:20% !important;">
                        <div class="modal-content">
                            <div class="row">
                                <form id="formUsuario" method="post" action="@Url.Action("Login")" class="col s12">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="usuario" style="color:#fff; border-color:#0277bd;" type="text" class="validate" name="argUsuario">
                                            <label for="usuario" style="color:#fff;font-size:20pt;">Nombre de Usuario</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input type="password" style="color:#fff; border-color:#0277bd;" id="contrasena" class="validate" name="contrasena">
                                            <label for="contrasena" style="color:#fff;font-size:20pt;">Contraseña</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:0;">
                                        <div class="right">
                                            <button class="btn waves-effect waves-light light-blue darken-3" type="button" onclick="Login()" name="action">Submit<i class="material-icons right" style="line-height:35px;">send</i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <li><a class="" href="#!" data-activates="dropdown1">@user.USU_NOMBRE</a></li>
                    <li><a class="" href="javascript:void()" onclick="Logout()" data-activates=""><i class="material-icons right" style="padding-top:3px;">power_settings_new</i></a></li>
                }
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        </nav>
    </header>
    <main>
        <div class="container body-content">
            @RenderBody()
        </div>
    </main>
    <footer class="page-footer indigo darken-3">
        <div class="container indigo darken-3">
            <div class="row">
                <div class="col s6">
                    <div style="margin-top:25px;">
                        <h5 class="flow-text">
                            <b>Hecho por el equipo de</b>
                            <br />
                            <b><a href="http://resyst.loteriagg.com/" style="text-decoration: none"> Resyst ® Softwares™.</a></b>
                        </h5>
                    </div>
                </div>

                <!--Footer Tablet y PC-->
                <div class="hide-on-small-only">
                    <div class="col s6">
                        <h4 id="socialMedia" style="margin-top:10px;text-align:right;">
                            Síguenos
                        </h4>

                        <div style="padding-right:40px">
                            <div style="text-align:right">
                                <a href="https://www.facebook.com/loteria.gg">
                                    <img src="https://lh3.googleusercontent.com/rVThdsVV77Iq36HPUUqmcJ21ZAML3Gs-AxGCc2JrpoXQLYkq3Yl-0O2p8KvYHjuQMuJhq7EkvL6_F2ylJf-jY_KbahkASPDtVYjrV6Bc_dB4pEnnu5Ng425ISTs9G3NHu4zLSi00CTAyY2ycRow1LbsF6ge74Kh0h4DbboJFojfHeDIY2UjV-w1ijDEGfFEwtieMkrW0SXH-HFkabNMGLbdB3fYfUD0Dn28cqmKO35IFNN-hN4_EPhoen1Ab24MvnWbkAvZw_VRxsyDsKSAnEcV_5N-FzM6lk1VgWknUUJ0tIKCBsMVndxJhSXboeMWlIthkPUm5wzieIkaGKuw0WGcYRjKo8Kxg40qw5ZCsmeVezfsk0nylIFArsygKZexOBRKhhWgWi3gb-OY_X7hSfOr1IiXct-uk7znlhq76bJFhokI2DbqvnIISbDpRHY9ZZLmokxEsNCaSoZFCw9VVOIF5RZuTNaytj60YmXn2amrtp423JOzIRu3aaEIYKc9h8Kq_5eXgEpUqKcdGR_o_-loCPIF6JrgwhIGsgWcnhRvhFu2ZB4jgxO3YpBnReCYiHU1FbCfXefCjoO-kUvULsGo-34oK-AFbg9piIJGiBWEafXFViggW7EGgWxRk-bzAbD8d6GkH7P5Y7wYGebxHXOO52caX9QSw9YsEX29wAQ=s24-no" alt="facebook" width="27" />
                                </a>
                                <a href="https://www.instagram.com/loteriagg">
                                    <img src="http://pngimg.com/uploads/instagram/instagram_PNG1.png" alt="instagram" width="27" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Footer mobile-->
                <div class="hide-on-med-and-up">
                    <div class="col s6">
                        <p id="socialMedia" style="margin-top:10px;padding-right:33px;text-align:right;font-size:1.224rem">
                            <b>Síguenos</b>
                        </p>

                        <div style="padding-right:40px">
                            <div style="text-align:right">
                                <a href="https://www.facebook.com/loteria.gg">
                                    <img src="https://lh3.googleusercontent.com/rVThdsVV77Iq36HPUUqmcJ21ZAML3Gs-AxGCc2JrpoXQLYkq3Yl-0O2p8KvYHjuQMuJhq7EkvL6_F2ylJf-jY_KbahkASPDtVYjrV6Bc_dB4pEnnu5Ng425ISTs9G3NHu4zLSi00CTAyY2ycRow1LbsF6ge74Kh0h4DbboJFojfHeDIY2UjV-w1ijDEGfFEwtieMkrW0SXH-HFkabNMGLbdB3fYfUD0Dn28cqmKO35IFNN-hN4_EPhoen1Ab24MvnWbkAvZw_VRxsyDsKSAnEcV_5N-FzM6lk1VgWknUUJ0tIKCBsMVndxJhSXboeMWlIthkPUm5wzieIkaGKuw0WGcYRjKo8Kxg40qw5ZCsmeVezfsk0nylIFArsygKZexOBRKhhWgWi3gb-OY_X7hSfOr1IiXct-uk7znlhq76bJFhokI2DbqvnIISbDpRHY9ZZLmokxEsNCaSoZFCw9VVOIF5RZuTNaytj60YmXn2amrtp423JOzIRu3aaEIYKc9h8Kq_5eXgEpUqKcdGR_o_-loCPIF6JrgwhIGsgWcnhRvhFu2ZB4jgxO3YpBnReCYiHU1FbCfXefCjoO-kUvULsGo-34oK-AFbg9piIJGiBWEafXFViggW7EGgWxRk-bzAbD8d6GkH7P5Y7wYGebxHXOO52caX9QSw9YsEX29wAQ=s24-no" alt="facebook" width="27" />
                                </a>
                                <a href="https://www.instagram.com/loteriagg">
                                    <img src="http://pngimg.com/uploads/instagram/instagram_PNG1.png" alt="instagram" width="27" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="footer-copyright indigo darken-4">
        <div class="container">
            <b>© 2017 Resyst Softwares. Todos los derechos reservados.</b>
        </div>
    </div>

</footer>
    @RenderSection("scripts", required: false)

    <script>
        $(".button-collapse").sideNav();
        $('.collapsible').collapsible();
        $(".dropdown-button").dropdown();
        $(document).ready(function () {
            $('.modal').modal({
                dismissible: true, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 200, // Transition out duration
                startingTop: '4%', // Starting top style attribute
                endingTop: '10%', // Ending top style attribute
                ready: function (modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
                },
            }
            );
        });


        function Login() {
            var form = $('.modal #formUsuario');

            $.ajax({
                type: 'POST',
                url: $(form).attr('action'),
                data: $(form).serialize(),
                success: function () {
                    location.reload();
                }
            })
        }

        function Logout() {
            location.href = "@Url.Action("Logout")"
        }
    </script>

</body>
</html>
